* {
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
    width: 100%;
}

#status-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 40px;
}

#btn-upgrades {
    width: 100%;
    height: 100px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    margin: 0;
    bottom: 0;
    position: fixed;
    border-radius: 0;
    border: none;
    padding: 0;
}

#chicken {
    position: absolute;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

#playground {
    position: absolute;
    width: 100%;
    height: calc(90% - 40px);
}

#eggground {
    width: 100%;
    height: 40%;
    transform: translateY(150%);
}

#upgrades-screen {
    width: 100%;
    height: 10%;
    background-color: rgb(248, 198, 106);
    color: white;
    text-transform: uppercase;
    margin: 0;
    bottom: 0;
    position: fixed;
    transition: all ease-in-out 400ms;
}

.upgrades-item {
    display:block;
    color: black;
    text-align: center;
    transition: all ease-in-out 400ms;
    height: calc(100px / 4);
    color: white;
    font-size: 30px;	
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.upgrades-item:hover {
    background-color: rgb(255, 178, 34);
}

.upgrades-column {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.egg-img {
    height: 50px;
    position: absolute;
}

#egg-source {
    display: none;
}

.upgrades-img {
    height: 90%;
    display: block;
}

.upgrades-text {
    display: block;
}

.upgrades-item-row {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Tooltip container */
.upgrades-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .upgrades-tooltip .upgrades-tooltip-text {
    visibility: hidden;
    width: 400px;
    max-width: 90vw;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .upgrades-tooltip:hover .upgrades-tooltip-text {
    visibility: visible;
  }